input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

textarea{
	resize: none;
}

form{
	margin-bottom: 0px !important;
}

ul{
	list-style-type: none;
}

th{
	text-align: center;
	width: 200px;
}

.help-block{
	color: #a94442;
}

.student-alert{
	margin-left: 71px;
	position: absolute;
	padding: 6px 12px;
	height: 7%;
	width: 43%;
	border-radius: 2px !important;
}

.user{
	margin-top: 10px;
}

.user a{
	color: #800000;
	text-decoration: underline;
}

.error-block, .error-label{
	color: #a94442;
}

.error-block{
	display: block;
	margin-top: 5px;
	margin-bottom: 10px;
}

.error-input{
	border-color: #a94442;
}

/*login*/

.register-button{
	float: right;
}

.sign-in-panel{
	margin-top: 9%;
	margin-bottom: 10%;
}

/*end of login*/

/*header*/

.main-header{
	text-align: center;
	position: fixed;
	width: 100%;
	z-index: 1030;
	background-color: white;
}

.header-inline{
	display: inline;
	font-size: 20px;
}

.header-color{
	color: #800000;
}

#cwvs-navbar{
	position: relative;
	padding: 0px;
}

.up-logo{
	margin:10px;
	height: 60px;
}

/*end of header*/

/*navbar*/

.custom-navbar{
	position: fixed;
	right: 0;
	left: 0;
	top: 80px;
	z-index: 1030;
}

.navbar-inverse{
	background-color: #800000;
	margin-bottom: 0px;
	border-radius: 0px;
}

.navbar-nav{
	width: 100%;
	padding-right: 30px;
}

.navbar-nav li{
	margin-left: -1px;
	/*height: 50px;*/
	z-index: 99;
	transition: background-color, 0.5s;
}

.navbar-nav li:hover{
	background-color: #900000;
	cursor: pointer;
}

.navbar-nav li:hover .sub{
	display: block;
}

.navbar-nav li .sub{
	transition: opacity, 0.5s;
}

.navbar-nav li a{
	color: white !important;
	margin-top: 10px;
	line-height: 0px;
}

.navbar-nav li ul{
	position: absolute;
	padding: 15px 20px;
	background-color:  #900000;
}

.sub{
	margin-top: 5%;
	display: none;
	transition: display, 0.5s;		
}

.sub li{
	height: auto;	
}

.sub li:hover{
	display: block;
}

.sub li a{
	font-size: 13px;
	border-right: none !important;
	text-decoration: none;
	opacity: 1;
	transition: opacity, 0.5s;
}

.sub li a:hover{
	background-color: transparent !important;
	opacity: 0.5 !important;
}

.sub li .login{
	margin-top: 0px !important;
	line-height: 30px !important;
}

.divider{
	color: black;
}

.navbar-fixed-top{
}

/*end of navbar*/

/* login */

.staff-label{
	border-left: solid 1px #ddd;
	border-right: solid 1px #ddd;
}

.user-login{
	padding-top: 10px;
	height: 100%;
	cursor: pointer;
}

.sign-in-heading{
	padding: 0px;
	height: 40px;
	text-align: center;
}

.user-active{
	background-color: #f5f5f5;
	color: black;
}

.up-color{
		background-color: #800000 !important;
		color: white !important;
}

.login-body{
	background-color: #f5f5f5;
}

.sign-in-container, .register-container{
	padding-top: 150px;
}

.login-panel{
	margin: 0px auto;
	margin-top: 100px;
	width: 50%;
}

/*end of login */

/*register*/

.register-panel{
	width: 50%;
}

.register-heading{
	padding: 0px;
	height: 40px;
}

.pill-register{
	padding: 10px;
}

.pill-register:hover{
	cursor: pointer;
}

.invisible{
	display: none !important;
}

.institution{
	cursor: not-allowed;
}

.register-btn{
	float: right;
}

.reset-btn{
	float: right;
	margin-right: 10px;
}

/*end of register*/

/*dashboard*/

.dashboard{
	margin-top: 50px;
	padding-left: 25%;
	padding-right: 25%;
}

/*end of dashboard*/

/*sidebar*/

.custom-container{
	padding-top: 130px;
}

.sidebar{
	position: fixed;
	top: 130px;
	left: 0;
	height: 100%;
	z-index: 1000;
	display: block;
	overflow-x: hidden;
	overflow-y: auto;
	padding-left: 20px;
	padding-right: 0px;
	background-color: #f5f5f5;
	border-right: 1px solid #eee;
}

.nav-sidebar{
	margin-left: -30px;
}

.nav-sidebar > li > a{
	height: 60px;
	padding: 20px;
}

.nav-sidebar > .active > a, .nav-sidebar > .active > a:hover, .nav-sidebar > .active > a:focus {
	color: #fff;
	background-color: #428bca;
}

.main{
	padding: 10px;
}

/*end of sidebar*/

/*user panel*/

#firstname:focus{
	background-position: 0 0;
}

#student-form, #user-form, .student-form, .confirm-account-div{
	margin-top: 74px;
}

.confirm-account-div{
	margin-top: 20px;
}

.staff-confirm-account-div{
	margin-top: 130px;
}

.student-number-panel{
	display: none;
	margin-bottom: 0px;
	position: absolute;
	top: 55px;
	right: 333px;
}

.student-number-status{
	margin-bottom: 0px;
}
.panel-heading span
{
    margin-top: -23px;
    font-size: 15px;
    margin-right: -12px;
}

.clickable, .clickable-number{
    display: inline-block;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;	
}

.numbers{
	margin-right: 10px;
}

.numbers > .panel-heading{
	background-color: white;
}

#add-student-number{
	border-radius: 0px;
}

.last-group{
	margin-bottom: 0px;
}

.user-panel{
	display: none;
	position: absolute;
	top: 54px;
	right: 325px;
}

.user-search-div{
	position: absolute;
	top: 80px;
}

/*end of user panel*/

/*add file*/

.co-author-button{
	width: 100%;
}

.custom-input-group{
	width: 568px;
}

.input-group{
	width: 100% !important;
}

.label-title{
	width: 28% !important;
}

.size-dropdown{
	left: -104px;
}

.success-status, .delete-status, .borrow-status{
	display: none;
	position: absolute;	
	right: 0;
	z-index: 999;
}

.borrow-status, .delete-borrowed-status, .confirm-borrowed-status, .unconfirm-borrowed-status{
	display: none;
	z-index: 999999;
	width: 25%;
	position: fixed;
	right: 37px;
	top: 31px;
}

.user-status{
	display: none;
	top: 10px;
}

.material-table, .confirm-material-table, .inventories-table, .owners-table{
	margin-top: 20px;
}

.search-div, .staff-search-div{
	margin-top: 30px;
}

/*end of add file*/

/*edit file*/

.material-view-button{
	cursor: pointer;
}

.edit-glyphicon{
	margin-right: 5px;
}

.edit-button, .borrow-button{
	margin-top: -44px;
}

#copy-button{
	margin-right: 10%;
}

.action-buttons{
	width: 13%;
}

/*end of edit file*/

/*pagination*/

.search-pagination{
	text-align: center;
	top: 200px;
	width: 100%;	
}

/*.user-search-pagination{
	top: 300px;
}

.user-pagination-div{
	top: 300px;
}

.user-pagination-div{
	top: 260px;
}

.borrowed-pagination{
	top: 230px;
}

.student-search-pagination{
	top: 380px;
}*/

/*end of pagination*/

/*student page*/

.confirm-div{
	margin-top: 10px;
}

.student-div{
	margin-top: 10px;
	margin-bottom: 20px;
}

.tool-tip{
  display: inline-block;
  position: absolute;
  top: 10px;
  height: 10%;
  right: 15px;
}

.borrowed-div{
	margin-top: 10px;
	display: inline-block;
	position: absolute;
	width: 14%;
	height: 10%;
}

.borrow-button{
	margin-top: 0px;
}

.tool-tip [disabled], .borrowed-div [disabled] {
  pointer-events: none;
}

/*end of student page*/

/*staff page*/



/*end of staff page*/

/*search page*/

.authors-written{
	cursor: pointer;
}

.author-info{
	top: 40px;
	position: absolute;
}

.material-wait{
	opacity: 0.5;
}

.results-div, .borrowed-results-div{
	margin-top: 30px;
}

/*end of search*/

/*inventory page*/

.inventory-div{
	margin-top: 10px;
}

#image-preview{
  position: relative;
  overflow: hidden;
}

.englishName-table, .venName-table{
	margin-top: 20px;
}

.inventories-table thead tr > th, .owners-table thead tr > th{
	cursor: default;
}

.inventory-items tr > td, .owner-items tr > td{
	cursor: pointer;
}

.inventory-search-pagination{
	top: 220px;
}

/*end of inventory page*/

/*home page*/

.home-table-div{
	/*margin-top: 10px;*/
}

.table-caption{
	text-align: center;
	width: 100%;
}
	
/*end of home page*/

/*index page*/

.index-container{
	padding-top: 122px;
}

.carousel{
	width: 100%;
	height: 600px;
}

.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-iner > .item > img, .carousel-inner > .item > a > img{
	height: 600px !important;
	max-width: 100% !important;
}

.carousel-inner div img{
	width: 100%;
	max-height: 100%;
	object-position: center;
	object-fit: cover;
}

.footer-background{
	background-color: lightgrey;
}

.footer{
	padding: 10px;
}

.social-footer{
	padding-top: 15px;
}

.info{
	padding-top: 50px;
	padding-bottom: 50px;
}

.info-header{
	font-size: 4vw;
}

.info-desc{
	margin-top: 60px;
	text-align: center;
	font-size: 4vw;
}

.footer-p-size{
	font-size: 10px;
}


/*end of index page*/

/*about page*/

.about-div{
	padding-top: 2%;
}



.about-info-size{
	font-size: 18px;
}

.mission-vision-objective{
	padding-top: 10%;
}

.block-right{
	border-right: solid 5px #eee;
}

.about-admin{
	padding-top: 10%;
	overflow: hidden;
}

.admin-pic{
	transform:          rotate(90deg);
	-ms-transform:      rotate(90deg);
	-moz-transform:     rotate(90deg);
	-webkit-transform:  rotate(90deg);
	-o-transform:       rotate(90deg);	
}

.staff-header{
	text-align: center;
}


@media only screen and (min-width: 70px){
	.navbar-nav{
		margin: auto;
		padding-right: 0px;
	}

	.navbar-nav li a{
		line-height: 29px;
		margin-top: auto;
	}
	.header-inline{
		display: none;
	}
	.cwvs-logo{
		display: none;
	}
	.login{
		width: 100%;
		float: left !important;
	}
	.navbar-nav li{
		width: 100%;
	}
	.navbar-nav li a{
		line-height: normal;
		text-align: center;
	}
	.carousel{
		width: 100%;
		height: 300px;
	}

	.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-iner > .item > img, .carousel-inner > .item > a > img{
		height: 300px !important;
		max-width: 100% !important;
	}

	.admin-pic{
		margin-top: 15%;
	}

	.about-photo img{
		margin: 0px auto;
	}
	.register-panel{
		width: 100%;
	}	
	#sort-materials, #sort-most-viewed, #sort-most-borrowed, #student-button, 
	#user-button, #confirm-account-button, #add-material-button, .search-material-button,
	.confirm-materials-button, #sort-all-materials, #sort-borrowed-materials, #sort-pending-materials, #add-inventory-button{
		width: 100%;
		border-radius: 2px;
	}
	.confirm-div{
		text-align: center;
	}
	.sidebar{
		display: none;
	}
	.borrow-status, .success-status, .delete-status{
		position: fixed;
		top: 0;
		z-index: 9999;
		right: 0;
		width: 100%;
		border-radius: 0px;
	}
	.confirm-buttons{
		width: auto;
	}
	.label-title{
		width: 56% !important;
	}	
}

@media only screen and (min-width: 209px) {
	.cwvs-logo{
		display: inline;
	}
}

@media only screen and (min-width: 380px) {
	.confirm-div{
		text-align: left;
	}	
}

@media only screen and (min-width: 460px) {
	#student-button, #user-button, #confirm-account-button, #add-material-button, .search-material-button,
	.confirm-materials-button, #sort-materials, #sort-most-viewed, #sort-most-borrowed, #add-inventory-button,
	#sort-all-materials, #sort-borrowed-materials, #sort-pending-materials{
		width: auto;
	}	
	.header-inline{
		display: inline;
		font-size: 7px;
	}
	.register-panel{
		width: 50%;
	}	
}


@media only screen and (min-width: 520px) {

	.header-inline{
		font-size: 9px;
	}
}

@media only screen and (min-width: 585px) {
	.label-title{
		width: 28% !important;
	}
}

@media only screen and (min-width: 590px) {

	.header-inline{
		font-size: 11px;
	}

}

@media only screen and (min-width: 768px) {
	.remove-borrowed-button, .unconfirm-borrowed-button, .confirm-borrowed-button{
		width: 100%;
		margin-top: 2px;
	}
	.confirm-buttons{
		width: 37%;
	}	
	.borrow-status, .success-status, .delete-status{
		width: 25%;
		position: fixed;
		/*top: 40px;*/
		margin-top: 139px;
		right: 37px;
		border-radius: 2px;
	}
	.success-status{
		top: 0;
	}
	.borrow-status{
		margin-top: 10px;
	}
	.sidebar{
		display: block;
	}	
	.navbar-nav{
		margin: 7.5px 15px;
		padding-right: 30px;
	}
	.navbar-nav li{
		width: auto;
	}
	.navbar-nav li a{
		line-height: auto;
		margin-top: 0px;
	}	
	.about-photo img{
		margin: auto;
	}	
	.carousel{
		height: 530px;
	}

	.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-iner > .item > img, .carousel-inner > .item > a > img{
		height: 530px !important;
	}
	.about-photo{
		height: auto !important;
	}
	.header-inline{
		font-size: 15px;
	}
	.login{
		width: auto;
		float: right !important;
	}
	.navbar-nav li a{
		line-height: 0px;
		text-align: left;
	}
}

@media only screen and (min-width: 992px) {
	.staff-header{
		padding-right: 10%;
		padding-top: 10%;
	}
}
@media only screen and (min-width: 1082px) {
	.confirm-buttons{
		width: auto;
	}	
}

@media only screen and (min-width: 1311px) {
	.remove-borrowed-button, .unconfirm-borrowed-button, .confirm-borrowed-button{
		width: auto;
		margin-top: auto;
	}
}
/*end of about page*/